/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/logs/laravel.log
.env
.env.backup
.env.production

dbdata/

/bootstrap/cache

/storage/framework/views/
/storage/framework/cache/data/

.phpstorm.meta.php
/.fleet
/.idea
/.vscode
